<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vPlayer</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/1.0.21/vue.min.js"></script>
    <script src="http://cdn.bootcss.com/vue-resource/0.7.2/vue-resource.min.js"></script>
</head>

<body>
    <div class="container">
        <audio controls>
            <source src="http://m2.music.126.net/qkkIu30Cg-BUgzDABCfWdg==/6665239489152108.mp3" type="audio/mp3">
        </audio>
        <p>
            <button class="btn btn-primary" @click="setCurrentTime">当前时间</button>
            <button class="btn btn-success" @click="getStatus">当前状态</button>
            <button class="btn btn-primary" @click="getDuration">歌曲长度</button>
            <button class="btn btn-success" @click="setPlay">播放</button>
            <button class="btn btn-danger" @click="setPause">暂停</button>
            <button class="btn btn-info" @click="setAutoPlay()">自动播放</button>
            <button class="btn btn-warning" @click="nextMusic">换歌</button>
            <button class="btn btn-default" @click="setLoop">循环</button>
        </p>
        <p>
            <div class="col-md-1">
                <span>Volume:</span>
            </div>
            <div class="col-md-6">
                <input v-model="range" @change="setVolume" type="range" min="0" max="1" step=0.1 value="" />
            </div>
        </p>
        
        <div>{{ range }}</div>
        <p>
            <div class="col-md-1"><span>Time: </span></div>
            <div class="col-md-6"><span>{{ showCurrentTime }}</span>/<span>{{ showDurationTime }}</span></div>
        </p>
        <div class="col-md-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: {{progress}}%">
                    <span class="sr-only">{{progress}}% Complete</span>
                </div>
            </div>
        </div>   
        <div class="col-md-6 col-md-offset-3">
            <form action="" @submit.prevent>
                <div class="input-group">
                    <input type="text" @change="formSubmit" class="form-control" name="search" placeholder="Search for..." v-model="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="bs-example" data-example-id="striped-table">
            <table class="table table-striped">
                <thead v-if="search">
                    <tr>
                        <th>歌曲id</th>
                        <th>歌曲名</th>
                        <th>歌手</th>
                        <th>专辑</th>
                        <th>发布时间</th>
                        <th>条数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="list in lists">
                        <th scope="row"><span @click="playMusic(list.id)" class="glyphicon glyphicon-headphones"></span></th>
                        <td>{{ list.name }}</td>
                        <td>{{ list.artists[0].name }}{{'/'+list.artists[1].name}}{{ '/'+ list.artists[2].name}}</td>
                        <td>《{{ list.album.name }}》</td>
                        <td>{{ list.duration | duration }}</td>
                        <td>{{ $index }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul>
                    <li v-show="next"><a href="#" @click.pervent="previousPage()">上一页</a></li>
                    <li v-show="search"><a href="#" @click.pervent="nextPage">下一页</a></li>
                </ul>
            </div>
        </div>
        <div class="bs-example" data-example-id="striped-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>歌曲id</th>
                        <th>歌曲名</th>
                        <th>歌手</th>
                        <th>MP3链接</th>
                    </tr>
                </thead>
                <tbody v-if="mlist != ''">
                    <tr v-for="paly in mlist">
                        <th scope="row"><span @click="playHistoryList(paly.id)" class="glyphicon glyphicon-headphones"></span></th>
                        <td>{{ paly.id }}</td>
                        <td>{{ paly.title }}</td>
                        <td>{{ paly.artists }}</td>
                        <td>{{ paly.url }}</td>
                    </tr>
                    <br v-else>
                    <tr v-for="paly in playList">
                        <th scope="row"><span @click="playHistoryList(paly.id)" class="glyphicon glyphicon-headphones"></span></th>
                        <td>{{ paly.id }}</td>
                        <td>{{ paly.title }}</td>
                        <td>{{ paly.artists }}</td>
                        <td>{{ paly.url }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="js/vpalyer.js"></script>
</html>
